-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: ticketsmantenimiento
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cliente`
--

DROP TABLE IF EXISTS `cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cliente` (
  `idCliente` bigint NOT NULL AUTO_INCREMENT,
  `correo` varchar(255) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `passwordSalt` varchar(255) DEFAULT NULL,
  `passwordHash` varchar(255) DEFAULT NULL,
  `rol` varchar(255) DEFAULT NULL,
  `telefono` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`idCliente`),
  UNIQUE KEY `correo` (`correo`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente`
--

LOCK TABLES `cliente` WRITE;
/*!40000 ALTER TABLE `cliente` DISABLE KEYS */;
INSERT INTO `cliente` VALUES (1,'luis.manjarrez0612@gmail.com','Luis Manjarrez',NULL,'$2a$12$FrK57qlmDVVdfcNmuIZj.eqHqJSLs7ZrWdbfShdJiuyu5hcNmHXES','ADMINISTRADOR','6441460637'),(2,NULL,'Anonimo',NULL,NULL,'USUARIO','+1 (928)-510-0451'),(3,NULL,'Cheo Villareal',NULL,NULL,'USUARIO','6623643385'),(5,NULL,'Anonimo',NULL,NULL,'USUARIO','6601841829');
/*!40000 ALTER TABLE `cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dispositivo`
--

DROP TABLE IF EXISTS `dispositivo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dispositivo` (
  `idDispositivo` bigint NOT NULL AUTO_INCREMENT,
  `detallesDispositivo` varchar(255) DEFAULT NULL,
  `modeloDispositivo` varchar(255) DEFAULT NULL,
  `plataforma` varchar(255) DEFAULT NULL,
  `idResumen` bigint DEFAULT NULL,
  PRIMARY KEY (`idDispositivo`),
  KEY `FK_Dispositivo_idResumen` (`idResumen`),
  CONSTRAINT `FK_Dispositivo_idResumen` FOREIGN KEY (`idResumen`) REFERENCES `resumen` (`idResumen`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dispositivo`
--

LOCK TABLES `dispositivo` WRITE;
/*!40000 ALTER TABLE `dispositivo` DISABLE KEYS */;
INSERT INTO `dispositivo` VALUES (1,'Caja, cables AC/DC, HDMI','PS5 (Disco)','PLAYSTATION',1),(2,'Control, cable AC/DC','PS4','PLAYSTATION',2),(4,'control, Cables AC/DC','PS4 ','PLAYSTATION',4),(9,'Control, Cable AC/DC','PS4 Pro','PLAYSTATION',5);
/*!40000 ALTER TABLE `dispositivo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `imagen`
--

DROP TABLE IF EXISTS `imagen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `imagen` (
  `idImagen` bigint NOT NULL AUTO_INCREMENT,
  `dataBase64` longtext,
  `descripcion` varchar(255) DEFAULT NULL,
  `fechaSubida` datetime(3) DEFAULT NULL,
  `tipo` varchar(255) DEFAULT NULL,
  `idResumen` bigint DEFAULT NULL,
  PRIMARY KEY (`idImagen`),
  KEY `FK_Imagen_idResumen` (`idResumen`),
  CONSTRAINT `FK_Imagen_idResumen` FOREIGN KEY (`idResumen`) REFERENCES `resumen` (`idResumen`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `imagen`
--

LOCK TABLES `imagen` WRITE;
/*!40000 ALTER TABLE `imagen` DISABLE KEYS */;
/*!40000 ALTER TABLE `imagen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pieza`
--

DROP TABLE IF EXISTS `pieza`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pieza` (
  `idPieza` bigint NOT NULL AUTO_INCREMENT,
  `cantidad` int DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `precio` double DEFAULT NULL,
  `unidadMedida` varchar(255) DEFAULT NULL,
  `idResumen` bigint DEFAULT NULL,
  PRIMARY KEY (`idPieza`),
  KEY `FK_Pieza_idResumen` (`idResumen`),
  CONSTRAINT `FK_Pieza_idResumen` FOREIGN KEY (`idResumen`) REFERENCES `resumen` (`idResumen`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pieza`
--

LOCK TABLES `pieza` WRITE;
/*!40000 ALTER TABLE `pieza` DISABLE KEYS */;
/*!40000 ALTER TABLE `pieza` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resumen`
--

DROP TABLE IF EXISTS `resumen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resumen` (
  `idResumen` bigint NOT NULL AUTO_INCREMENT,
  `calificacion` int DEFAULT NULL,
  `comentariosCliente` varchar(255) DEFAULT NULL,
  `descripcionProblema` varchar(255) DEFAULT NULL,
  `Estado` varchar(255) DEFAULT NULL,
  `fechaCreacion` datetime(3) DEFAULT NULL,
  `resenaComentario` varchar(255) DEFAULT NULL,
  `idCliente` bigint DEFAULT NULL,
  PRIMARY KEY (`idResumen`),
  KEY `FK_Resumen_idCliente` (`idCliente`),
  CONSTRAINT `FK_Resumen_idCliente` FOREIGN KEY (`idCliente`) REFERENCES `cliente` (`idCliente`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resumen`
--

LOCK TABLES `resumen` WRITE;
/*!40000 ALTER TABLE `resumen` DISABLE KEYS */;
/*!40000 ALTER TABLE `resumen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resumen_dispositivos`
--

DROP TABLE IF EXISTS `resumen_dispositivos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resumen_dispositivos` (
  `dispositivos` bigint NOT NULL AUTO_INCREMENT,
  `idDispositivo` bigint DEFAULT NULL,
  `idResumen` bigint DEFAULT NULL,
  PRIMARY KEY (`dispositivos`),
  KEY `FK_Resumen_Dispositivos_idDispositivo` (`idDispositivo`),
  KEY `FK_Resumen_Dispositivos_idResumen` (`idResumen`),
  CONSTRAINT `FK_Resumen_Dispositivos_idDispositivo` FOREIGN KEY (`idDispositivo`) REFERENCES `dispositivo` (`idDispositivo`),
  CONSTRAINT `FK_Resumen_Dispositivos_idResumen` FOREIGN KEY (`idResumen`) REFERENCES `resumen` (`idResumen`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resumen_dispositivos`
--

LOCK TABLES `resumen_dispositivos` WRITE;
/*!40000 ALTER TABLE `resumen_dispositivos` DISABLE KEYS */;
/*!40000 ALTER TABLE `resumen_dispositivos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trabajo`
--

DROP TABLE IF EXISTS `trabajo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trabajo` (
  `idTrabajo` bigint NOT NULL AUTO_INCREMENT,
  `precio` double DEFAULT NULL,
  `tipoTrabajo` varchar(255) DEFAULT NULL,
  `idResumen` bigint DEFAULT NULL,
  `nombrePieza` varchar(160) DEFAULT NULL,
  `unidades` int DEFAULT NULL,
  `precioUnitario` double DEFAULT NULL,
  PRIMARY KEY (`idTrabajo`),
  KEY `FK_Trabajo_idResumen` (`idResumen`),
  CONSTRAINT `FK_Trabajo_idResumen` FOREIGN KEY (`idResumen`) REFERENCES `resumen` (`idResumen`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trabajo`
--

LOCK TABLES `trabajo` WRITE;
/*!40000 ALTER TABLE `trabajo` DISABLE KEYS */;
INSERT INTO `trabajo` VALUES (1,250,'MANTENIMIENTO',1,NULL,NULL,NULL),(2,120,'REPARACION',2,NULL,NULL,NULL),(3,300,'MANTENIMIENTO',2,NULL,NULL,NULL),(5,300,'MANTENIMIENTO',4,NULL,NULL,NULL),(10,300,'MANTENIMIENTO',5,NULL,NULL,NULL);
/*!40000 ALTER TABLE `trabajo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'ticketsmantenimiento'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-30 23:02:26
